body {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
}

iframe {
    margin: 0;
    border: 0;
    padding: 0;
    border-image-width: 0;
    display: block;
    width: 100%;
    height: 100%;
}

section {
    width: 100%;
    height: 100%;
}


/* DON'T DELETE THIS */

html {
  box-sizing: border-box;
}

*,*:before,*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

/* Clear Float */

.cf:before,.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}